<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>

        <!-- =================================== styles + css modules =================================== -->

        <link rel="stylesheet" href="../public/css/index-styles.css" />
        <link rel="stylesheet" href="../public/css/swiper-bundle.min.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <!-- =================================== fonts =================================== -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap"
            rel="stylesheet"
        />

        <!-- =================================== remixicons =================================== -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.min.css"
        />

        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <header class="header">
            <div class="navlogo">
                <img
                    src="../public/img/AgriGenZlogo-removebg-preview.png"
                    alt="nav-logo"
                />
            </div>
            <input type="checkbox" id="check" />
            <label for="check" class="icons">
                <i class="bx bx-menu" id="menu-icon"></i>
                <i class="bx bx-x" id="close-icon"></i>
            </label>
            <nav class="navbar">
                <a href="index.html" style="--i: 0">Home</a>
                <a href="#Products" style="--i: 1">Products</a>

                <a href="#FAQ" style="--i: 3">FAQ</a>
                <a href="#" style="--i: 4">About Us</a>
                <a href="#footer" style="--i: 5">Contact Us</a>
            </nav>
        </header>
        <div class="bgimg"></div>
               

        <div class="Products" id="Products">Our Products</div>
        <div class="Prd-con">
            <div class="flip-container">
                <a href="vegetable.html" class="veg a">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img
                                    src="../public/img/veg.png"
                                    alt="Avatar"
                                    style="
                                        width: 300px;
                                        height: 250px;
                                        border-radius: 10px;
                                    "
                                />
                               <p class="hovrStyle">Vegetables</p>
                            </div>
                            <div class="flip-card-back">
                                <h1>Vegetables</h1>
                                <p>TEAM NAME:</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="Fruits.html" class="fru a">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img
                                src="../public/img/fru.jpg"
                                alt="Avatar"
                                style="
                                    width: 300px;
                                    height: 250px;
                                    border-radius: 10px;
                                "
                            />
                            <p class="hovrStyle">Fruits</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Fruits</h1>
                            <p>TEAM NAME:</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="Flowers.html" class="flw a">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img
                                src="../public/img/flw.jpg"
                                alt="Avatar"
                                style="
                                    width: 300px;
                                    height: 250px;
                                    border-radius: 10px;
                                "
                            /><p class="hovrStyle">Flowers</p>
                        </div>
                        <div class="flip-card-back">
                            <h1>Flowers</h1>
                            <p>TEAM NAME:</p>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <!-- -- =================================== -->

        <div class="faq" id="FAQ">
            <div class="faq-form-container">
                <form class="faq-form" action="/faq" method="POST">
                    <div class="faq-form-div">
                        <div>
                            <h2 style="color: #277204">Ask Questions</h2>
                        </div>
                        <input
                            type="text"
                            name="name"
                            class="faq-input"
                            placeholder="Your Name"
                        /><br />
                        <input
                            type="text"
                            name="number"
                            class="faq-input"
                            placeholder="Phone Number"
                        /><br />
                        <input
                            type="email"
                            name="email"
                            class="faq-input"
                            placeholder="Your Email"
                        /><br />
                        <input
                            type="text"
                            name="qstr"
                            class="faq-input"
                            placeholder="Type Your Question"
                        /><br />
                        <input
                            type="text"
                            name="additional"
                            class="faq-input"
                            placeholder="Additional Information"
                        /><br />
                        <div class="faq-btn-container">
                            <button type="submit" class="faq-btn">
                                ASK NOW
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="location-container">
                <iframe
                    class="location-frame"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.7984671282056!2d79.9703695739774!3d6.914682818496007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae256db1a6771c5%3A0x2c63e344ab9a7536!2sSri%20Lanka%20Institute%20of%20Information%20Technology!5e0!3m2!1sen!2slk!4v1714330400281!5m2!1sen!2slk"
                    style="border: 0"
                    allowfullscreen=""
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
        </div>

       
        <div class="footer" id="footer">
            <div class="footer-content">
                <div>
                    <img src="../public/img/Picture2.jpg" width="400px"  alt="" />
                </div>
                <p>
                    Agri GenZ is a student-led initiative by the Biotechnology
                    degree program, to introduce A Level students in the
                    Bio-science stream and prospective Biotechnology students to
                    the subject. We will be hosting a seminar session and a
                    practical demonstration session for them to fully immerse in
                    the field of Agricultural Biotechnology.
                </p>
                <ul class="socials">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy; <a href="#">AgriGenZ</a></p>
                <div class="footer-menu">
                    <ul class="f-menu">
                        <a href="#" style="--i: 0">Home</a>
                        <a href="#timeline" style="--i: 1">Products</a>
                        <!-- <a href="Ideathon.html" style="--i: 2">FAQ</a> -->
                        <a href="#FAQ" style="--i: 3">FAQ</a>
                        <a href="#about us" style="--i: 4">About Us</a>
                        <a href="#contact us" style="--i: 5">Contact Us</a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- =================================== -->

        <!-- =================================== main + scrollrevealjs + swiperjs =================================== -->
        <!-- =================================== main + scrollrevealjs + swiperjs =================================== -->
        <script src="../public/js/swiper-bundle.min.js"></script>
        <script>
            let swiperPartner = new Swiper(".partners-swiper-container", {
                direction: "horizontal",
                loop: true,

                autoplay: {
                    delay: 1500, // Delay between transitions in milliseconds
                    disableOnInteraction: false, // Continue autoplay even when user interacts with swiper
                },

                slidesPerView: 4,
                spaceBetween: 10,
            });
        </script>
    </body>
</html>
